<mat-button-toggle-group
  name="season"
  aria-label="Season"
  vertical
  (click)="seasonChange($event)"
>
  <mat-button-toggle value="winter" id="winter">Winter</mat-button-toggle>
  <mat-button-toggle value="spring" id="spring">Spring</mat-button-toggle>
  <mat-button-toggle value="summer" id="summer">Summer</mat-button-toggle>
  <mat-button-toggle value="autumn" id="autumn">Autumn</mat-button-toggle>
</mat-button-toggle-group>
<div id="some-switches">
  <mat-slider
    min="0"
    max="2"
    step="1"
    value="1"
    (change)="filterFoodToggle($event)"
  ></mat-slider>
</div>
