mat-button-toggle-group {
  width: 100%;
  grid-template-rows: repeat(4, 1);
  display: grid;
  background-color: #000000;
}
mat-button-toggle {
  padding: 3rem 0;
  font-size: 3rem;
  background-color: rgba(0, 255, 0, 0.5);
  color: #202020;
}
mat-button-toggle:focus-within {
  color: #09f;
  font-weight: bold;
}
#winter {
  background-color: #00ccff;
}
#spring {
  background-color: #00dd44;
}
#summer {
  background-color: #ffcc00;
}
#autumn {
  background-color: #c08800;
}

.mat-button-toggle-checked {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0);
}

#some-switches {
  border: 1px solid black;
  padding: 0 1rem;
}
