:root {
  --num-fruit-columns: 10;
  /* +calc(100% / 14); */
}
html,
body {
  height: 100%;
  background-color: #909090;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 1190px) {
  :root {
    --num-fruit-columns: 6;
  }
}
@media (max-width: 810px) {
  :root {
    --num-fruit-columns: 3;
  }
}
